<!-- Componente que contiene toda la vista -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" [routerLink]="'.'">Prueba Frontend</a>

  <!-- Revelar o esconder menú al hacer clic en el botón-->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Agregarle el directivo ngbCollapse a la lista de opciones para mostrarla cuando necesario -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--Cerrar menu cuando se hace clic en una opción del menú -->
        <a class="nav-link" [routerLink]="'/'" (click)="isMenuCollapsed = true" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Array</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/dict'" (click)="isMenuCollapsed = true" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Dict</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Aquí en este "router-outlet" se coloca la vista actual al navegar al url correcto ('/' o 'dict')  -->
<router-outlet></router-outlet>
