<div class="container-fluid text-center">
    <h1 class="text-center">Dict</h1>
    <div class="d-flex justify-content-around flex-wrap mb-2 p-2">
        <button type="button" class="btn btn-dark" (click)="pullData()">Load Data</button>
        <span></span>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th *ngFor="let letter of alphabet" scope="col"> {{letter}} </th>
                    <th scope="col">Suma numericos contenidos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dict of dictList; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td *ngFor="let letter of alphabet; index as j"> {{letterCountRows[i][j]}} </td>
                    <td> {{ sums[i] }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <div class="spinner-border" *ngIf="loading"></div>
    </div>
    <div class="text-center"><span class="text-danger" [hidden]="!errorVisible">{{errorMessage}}</span></div>
</div>