<div class="container">
    <h1 class="text-center">Array</h1>
    <div class="d-flex justify-content-around flex-wrap mb-2">
        <div class="p-2">
            <button name="singlebutton" (click)="pullData()" class="btn btn-dark">Load Data</button>
        </div>
        <div class="p-2 vertical-center">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <strong class="mr-3">Numbers in Order: </strong>
                    <p> {{ sortedNums.join(", ") }} </p>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>


    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">First Position</th>
                    <th scope="col">Last Position</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of tableNums; index as i" [ngClass]="
                { 'table-success':tableDetails.get(val).quantity >= 2, 'table-warning':tableDetails.get(val).quantity === 1,
                'table-danger':tableDetails.get(val).quantity < 1 }">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ val }}</td>
                    <td>{{ tableDetails.get(val).quantity }}</td>
                    <td>{{ tableDetails.get(val).firstPos }}</td>
                    <td>{{ tableDetails.get(val).lastPos }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <div class="spinner-border" *ngIf="loading"></div>
    </div>
    <div class="text-center"><span class="text-danger" [hidden]="!errorVisible">{{errorMessage}}</span></div>
</div>